@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');


:root {
    --primary-color: #5a34a6;
}


body {
    background: white;
    margin: 0;
    font-family: 'Poppins';
    
    /* background-image: url("../final.jpg"); */
    
}

.topbar {
    background: #161B22;
    border: 0em;
    padding: 1em;
    max-height: 1.5em;
    position: fixed;
    width: 100%;
    top: 0;

    /* background-image: url("../final.jpg"); */
    /* display:inline-flexbox; */
}

#logo:hover {
    opacity: 80%;
}


.main {
    background-image: url("../final.jpg");
    background-size: cover;

    padding:50%;
    padding-top: 0%;
    margin-top: 3em;
    
    


}



.result {
    /* float: left; */
    /* padding: 10%; */
    /* padding-left: 20%; */
    min-width: 40em;
    min-height: 35em;
    
    max-height: 15%;
    max-width: 15%;
    background-color: #0f2439;

    position: absolute;
    margin-top: 12.8em;
    margin-left: -45%;
    border-radius: 4em;
    border: 0.15em;
    border-style: solid;
    border-color: var(--primary-color);
    display: none;
}


.data {
    float: left;
    padding: 7%;
    max-height: 15%;
    max-width: 15%;
    background-color: #0f2439;
    position: absolute;
    margin-top: 12.8em;
    margin-left: 10%;
    border-radius: 4em;
    border: 0.15em;
    border-style: solid;
    border-color: var(--primary-color);
}



#logo {
    max-width: 30px;
    max-height: 30px;
    margin-left: 1em;
    margin-top: -0.2em;
}


.fieldset {

    padding: 0;
    border-radius: 10px;
    min-width: 25em;
    max-height: 4em;
    border-color: var(--primary-color);
    display: block;
    color: white;
    
  }


.search-button {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: 0em;
    border-radius: 0.3em;
}


.header {
    position: relative;
    color: white;
    font-weight: 400;
    font-size: 25px;
    
}


.form_ID {
    margin-top: -5em;
    color: white;
    font-size: 18px;
}


#profilePhoto {
    margin-top: -50em;
    border-radius: 1em;
    margin-left: 40em;
    border: 0.2em;
    border-style: solid;
    border-color: var(--primary-color);
    max-width: 6em;
    max-height: 6em;
}

#profilePhoto:hover {
    opacity: 85%;
}






