/* Import a font to our project */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap');

/* 
    Set a variable as our primary color
*/
:root {
    --primary-color: #5a34a6;
}

/* 
    Set our font and margin
*/
body {
    margin: 0;
    font-family: 'Poppins';
    

    
}

/* 
    Set topbar properties
*/

.topbar {
    background: #161B22;
    border: 0em;
    padding: 1em;
    max-height: 1.5em;
    position: fixed;
    width: 100%;
    top: 0;

}

/* 
    Chnage opacity when hover on logo on topbar
*/

#logo:hover {
    opacity: 80%;
}

/* 
    Main section : input data + result part
*/
.main {
    background-image: url("../final.jpg");
    background-size: cover;

    padding:50%;
    padding-top: 0%;
    margin-top: 3em;
    
    


}


/* 
    Set Result part attributes
    Result shows result from git API
*/
.result {

    min-width: 40em;
    min-height: 35em;
    
    max-height: 15%;
    max-width: 15%;
    background-color: #0f2439;

    position: absolute;
    margin-top: 12.8em;
    margin-left: -45%;
    border-radius: 4em;
    border: 0.15em;
    border-style: solid;
    border-color: var(--primary-color);
    display: none;
}


/* 
    Attributes of input data part
*/
.data {
    float: left;
    padding: 7%;
    max-height: 15%;
    max-width: 15%;
    background-color: #0f2439;
    position: absolute;
    margin-top: 12.8em;
    margin-left: 10%;
    border-radius: 4em;
    border: 0.15em;
    border-style: solid;
    border-color: var(--primary-color);
}


/* 
    Set size of logo on topbar
*/
#logo {
    max-width: 30px;
    max-height: 30px;
    margin-left: 1em;
    margin-top: -0.2em;
}




/* 
    set fieldset class attributes
 */
.fieldset {

    padding: 0;
    border-radius: 10px;
    min-width: 25em;
    max-height: 4em;
    border-color: var(--primary-color);
    display: block;
    color: white;
    
}


  
/* 
    Set zie and color and radius of search button
*/
.search-button {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: 0em;
    border-radius: 0.3em;
}


.header {
    position: relative;
    color: white;
    font-weight: 400;
    font-size: 25px;
    
}

/* 
    form_ID class used for getting data from users
*/
.form_ID {
    margin-top: -5em;
    color: white;
    font-size: 18px;
}

/* 
    Set attributes of profile photo of user that retrive from git API result
*/
#profilePhoto {
    margin-top: -50em;
    border-radius: 1em;
    margin-left: 40em;
    border: 0.2em;
    border-style: solid;
    border-color: var(--primary-color);
    max-width: 6em;
    max-height: 6em;
}


/* 
    Chnage opacity of profile photo when hover on it
*/
#profilePhoto:hover {
    opacity: 85%;
}






